@font-face {
  font-family: 'Codec Pro';
  src: url('../webfonts/Codec-Pro-News.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Codec Pro';
  src: url('../webfonts/Codec-Pro-News-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Codec Pro';
  src: url('../webfonts/Codec-Pro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Codec Pro';
  src: url('../webfonts/Codec-Pro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Codec Pro';
  src: url('../webfonts/Codec-Pro-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Codec Pro';
  src: url('../webfonts/Codec-Pro-Bold-Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Codec Pro';
  src: url('../webfonts/Codec-Pro-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Codec Pro';
  src: url('../webfonts/Codec-Pro-Extrabold-Italic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Codec Pro';
  src: url('../webfonts/Codec-Pro-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}