//header hamburger menu
.hamburger-icon {
  width: 10.25rem;
  height: 3.625rem;
  @include media-breakpoint-down(sm) {
    width: 8rem;
    height: 2.83rem;
  }
}

.misk-logo {
  width: 9.38rem;
  height: 3.02rem;
  @include media-breakpoint-down(sm) {
    width: 7.32rem;
    height: 2.36rem;
  }
}

//-----------------------header---------------------------------
@include media-breakpoint-down(md) {
  .navbar-header {
    left: 0;
  }
}

//needed to remove the border around the button
.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

.limit-menu-height {
  height: 60vh;
  @include media-breakpoint-down(md) {
    height: 100vh;
  }
}

.nav-arrow-wrap {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;

  .arrow-down, .arrow-up {
    position: absolute;
    top: 0; left: 0;
    transition: opacity 0.3s ease;
  }
  .arrow-up { opacity: 0; }
}

.nav-link[aria-expanded="true"] .nav-arrow-wrap {
  .arrow-down { opacity: 0; }
  .arrow-up   { opacity: 1; }
}

.nav-link-hamburger {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    content: "";
    background-color: $primary-emphasis;
    opacity: 0;
    transition: opacity 0.5s;
  }
  &:hover:after{ 
    opacity: 1;
    background-color: white;
  }
  &[aria-expanded="true"]::after {
    opacity: 1;
  }
}


// adds the menu animation----------
#toggleTarget {
  &.collapsing {
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &.collapse:not(.show) {
    opacity: 0;
    
  }

  &.show {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}


// for header 2--------------------
.btn-animation img:last-child {
  transition: opacity 0.3s ease;
}

.btn-animation:hover img:last-child {
  opacity: 0;
}


