// ----------------Colors--------------------

$primary:       #00372A !default;
$primary-emphasis: #C2D500 !default;
$secondary:     #D9E378 !default;
// $secondary-emphasis: #21B592 !default;
$tertiary:     #E4ECEA !default;
// $tertiary-emphasis: #DBEAE6 !default;
$link-hover:    #C2D500 !default;
// ----alert colors
$alert-success: #198754 !default;
$alert-info:    #0DCAF0!default;
$alert-warning: #FFCD39!default;
$alert-error:  #B02A37 !default;
$alert-warning: #FFCD39!default;
$alert-error:  #B02A37 !default;



//------------------Typography--------------------


$font-family-base: 'Codec', sans-serif;
$font-size-base: 1rem;  

// Display
$display-1-size: 3.75rem;
$display-2-size: 3rem;
$display-3-size: 2.375rem;
$display-4-size: 1.875rem;
$display-5-size: 1.5rem;;
$display-6-size: 1.125rem;

// Headings
$h1-font-size:  4.75rem;
$h2-font-size:  2.5rem;
$h3-font-size:  1.25rem;
$h4-font-size:  1.4375rem;
$h5-font-size:  1.25rem;
$h6-font-size:  1rem;

// font weights
$display-font-weight: 600;
$headings-font-weight: 600;
$headings-line-height: 1.4;


// Hero Title

// $spacers: (
//   0: 0,
//   1: $spacer * .25,
//   2: $spacer * .5,
//   3: $spacer,
//   4: $spacer * 1.5,
//   5: $spacer * 3,
// ) !default;

